.xp{
  background-color: #008000;
  padding: 4rem;
  margin: 3rem;
  width: 70rem;
  height: 25rem;
}
.exp{
  background-color: #fff;
  color: #000;
  padding: 3.5rem;
  width: 20rem;
  height: 20rem;
  border: 5px solid #000;
  border-radius: 55rem;
  margin: auto;
}
.dol{
  color: #808000;
  padding: 1rem;
  margin: 3rem;
  font-size: 25rem;
  line-height: 10rem;
}